<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>686429986109-fipe0hj46pg0ejso87bs6dqvrtg870cq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.686429986109-fipe0hj46pg0ejso87bs6dqvrtg870cq</string>
	<key>API_KEY</key>
	<string>AIzaSyClDHLSSE5k3slrsfc96yBe0j6BgbjAV5E</string>
	<key>GCM_SENDER_ID</key>
	<string>686429986109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Sergey-Borisov.Taxi-Kit</string>
	<key>PROJECT_ID</key>
	<string>taxi-kit-2cba3</string>
	<key>STORAGE_BUCKET</key>
	<string>taxi-kit-2cba3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:686429986109:ios:2825289749919bf899f954</string>
	<key>DATABASE_URL</key>
	<string>https://taxi-kit-2cba3.firebaseio.com</string>
</dict>
</plist>